* {
  box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
}
li {
  list-style-type: none;
}

/* header */
header {
    height: 5em;
    width: auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.header-section {
  display: flex;
  align-items: center;
  margin: 0 2em; 
}

img.logo {
  width: 80px;
  margin-right: 4em; 
}

.search {
  border: none;
  font-size: 1.5em;  
  color: lightgray; 
}

img.user {
  height: 50px;
  padding-right: 4em; 
  border-right: 2px solid #fafafa; 
}

.upload {
  margin-left: 4em;
}

img.user2 {
  width: 40px;
  height: 40px;
}

/*conntent*/
.content {
  display: flex;
  /* position: relative; */
}

/* side*/

.side {
  /* padding: 0 0.75em; */
  height: 100%;
  flex: 1;
  /* width: auto; */
  background-color: white;
  display: inline-block;
  text-align: left;
  /* width: 30%; */
  /* position: absolute; */
  top: 0;
}

.everything-else {
  display: flex;
  flex-direction: column;
  flex: 5;
  height: 100%;
}

img.heart {
  width: 30px;
  height: 30px;
}

/*bigpic*/
.bigpic {
  display: flex;
  justify-content: center;
  background-color: #fafafa;
}

/*picinfo*/
.picinfo {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 65vw;
    height: 100%;
}
.rightbox,
.leftbox {
  display: inline-block;
  width: 49%;
}

div.bigpic {
    text-align: left;
}

.ocean-pic {
  margin: 0 auto;
  height: 100%;
  width: 65vw;
}

div.leftlike {
  text-align: center;
}

div.views {
  text-align: right;
}
img.sub {
  width: 70px;
  height: 70px;
}
img.like {
  width: 50px;
  height: 30px;
}
/* footer */
.bottom {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/*about*/


.about {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.about {
  border: 1px solid black ;
}
div.about {
    text-align: center;
}


@media only screen and (min-width: 768px) {

}
